body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    
}

.navbar{
    width: 100vw;
    background-color: rgb(198, 224, 224);
}

main {
    background-color: rgb(255, 255, 255); 
    height:450px;
    width:100vw;
}

 #titulo{
    margin-left: 10px;
 }

.noticias{
    background-color: rgb(255, 255, 255); 
    height: 400px;
    width:1000px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;

    border-style: solid;
    border-left-width: 3px;
    border-top-width: 3px;
    border-right-width: 3px;    
    border-bottom-width: 3px;
    border-color:rgb(198, 224, 224);

}

.d-block, .carousel-item,.carousel-inner,.carousel{
    height:330px;
    width: 980px;
    
}

.form{
    background-color: rgb(255, 255, 255); 
    height:400px;
    width:400px;
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    border-style: solid;
    border-left-width: 3px;
    border-top-width: 3px;
    border-right-width: 3px;    
    border-bottom-width: 3px;
    border-color:rgb(198, 224, 224);
}

#centrar{
    display: flex; 
    justify-content: center;
    align-items: center;
}

#block{
    display: block;
}

.form-control{
    width: 70%;
}

.signin, .signup{
    margin-left: 40px;
    margin-top: 10px;

}

footer{
    background-color: rgb(255, 255, 255); 
    height:250px;
    width:100vw; 
    display: flex; 
    justify-content: 
    center;
    align-items: center;
}

.foro-comentado{
    background-color:#ffffff; 
    height:230px;
    width:1000px;
    float:left;
    margin-left: 20px;
    margin-right: 20px;

    border-style: solid;
    border-left-width: 3px;
    border-top-width: 3px;
    border-right-width: 3px;    
    border-bottom-width: 3px;
    border-color:rgb(198, 224, 224);
    
}
.comentarios{
    background-color:#ffffff; 
    height:230px;
    width:400px;
    float: right;
    margin-left: 20px;
    margin-right: 20px; 

    border-style: solid;
    border-left-width: 3px;
    border-top-width: 3px;
    border-right-width: 3px;    
    border-bottom-width: 3px;
    border-color:rgb(198, 224, 224);

}
